{% import 'partials/_macros' as helpers %}

{% set defaults = {
  'buttonText' : '',
  'icon' : '',
  'confirmMessage': '',
} %}

{% if settings is defined %}
  {% set settings = defaults|merge(settings) %}
{% else %}
  {% set settings = defaults %}
{% endif %}

{% set defaultConfirm = 'Deactivating your account results in you not being able to sign in. Are you sure you want to continue?'|t %}

{% set confirmMessage = settings.confirmMessage is not empty ? settings.confirmMessage : defaultConfirm %}

{% if currentUser and craft.porter.settings.deactivateAccount %}

    {# {% include 'components/_button.twig'|siteInclude with { settings: {
      'text'  : settings.buttonText is not empty ? settings.buttonText : 'Deactivate Account'|t,
      'href'  : actionUrl('porter/deactivate-account'),
      'type'  : 'link',
      'style' : 'arrow',
      'icon'  : settings.icon is not empty ? settings.icon : 'edit',
      'iconAlign': 'left',
      'atts': {
        'onclick': 'return confirm(' ~ confirmMessage ~ ');',
      }
    }} %} #}

    {# <a href="{{ actionUrl('porter/deactivate-account') }}" class="{{ component('btn', 'arrow', '') }}" onclick="return confirm('{{ 'Deactivating your account results in you not being able to sign in. Are you sure you want to continue?'|t }}')">
      {{ 'Deactivate Account'|t }}
    </a> #}

{% endif %}



{% if currentUser and craft.porter.settings.deleteAccount %}

    {% set formProperties = craft.porter.deleteAccountFormProperties() %}


    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('porter/delete-account/delete') }}
        {{ redirectInput(formProperties.redirect) }}

        <div class="my-p20">

            <label for="confirmationField" class="mb-p8 block">
                {{ 'Type the phrase'|t }} <span class="font-medium text-brand-red">{{ formProperties.confirmation }}</span> {{ 'to confirm you want to permanently delete your account.'|t }}
            </label>

            <input type="text" name="confirmationField" id="confirmationField" class="{{ component('input', 'small', 'max-w-md') }}" placeholder="{{ formProperties.confirmation }}" required>

            {# {% set porterDeleteAccountFlash = craft.app.session.getFlash('porter') %}

            {% if porterDeleteAccountFlash|length %}
                <div class="{{ alertClass }}">
                    {{ porterDeleteAccountFlash }}
                </div>
            {% endif %} #}

        </div>

        <button class="{{ component('button', 'terracotta', '') }}">
            {{ formProperties.buttonText }}
        </button>

    </form>

{% endif %}