{% import 'partials/_macros' as helpers %}

<form method="post"
  accept-charset="UTF-8"
  x-comp="ajaxForm"
  x-data="ajaxForm({
    token: '{{ craft.app.request.getCsrfToken() }}',
    action: '/actions/users/save-user',
    successMessage: '{{ 'Your password has been updated'|t }}',
    formData: {
      currentPassword: '',
      newPassword: '',
      userId: '{{ currentUser.id }}',
    } })"
  @submit.prevent="onSubmit"
  class="relative">
  {{ csrfInput() }}
  {{ redirectInput('profile/') }}
  {{ actionInput('users/save-user') }}
  {{ successMessageInput('Your password has been updated'|t) }}

  <div class="transition-opacity" :class="loading ? 'opacity-20 pointer-events-none' : ''">

    <div x-show="isSuccess || hasError">
      <div class="flex mb-p32">
        <template x-if="isSuccess">
          {{ helpers.icon('checkmark', 'fill-success w-p32 h-p32 mr-p10') }}
        </template>
        <template x-if="hasError">
          {{ helpers.icon('cross', 'fill-error w-p32 h-p32 mr-p10') }}
        </template>
        <p x-text="message" class="font-normal text-lg"></p>
      </div>
    </div>

    {# Get logged-in user's ID #}
    {{ hiddenInput('userId', currentUser.id) }}

    {% include 'form/items/_input' with { 'settings': {
      'type': 'password',
      'name': 'password',
      'label': 'Current Password'|t,
      'value': null,
      'atts': {
        'class': component('input', 'large', ''),
        'x-model': 'formData.currentPassword',
        'placeholder': 'Current Password'|t,
        'required': true,
        'id': 'currentPassword',
      }
    }} %}

    {% if user is defined %}
      {{ helpers.errorList(user.getErrors('password')) }}
    {% endif %}

    {% include 'form/items/_input' with { 'settings': {
      'type': 'password',
      'name': 'newPassword',
      'label': 'New Password'|t,
      'value': null,
      'atts': {
        'class': component('input', 'large', ''),
        'x-model': 'formData.newPassword',
        'placeholder': 'New Password'|t,
        'required': true,
        'id': 'newPassword',
      }
    }} %}

    {% if user is defined %}
      {{ helpers.errorList(user.getErrors('newPassword')) }}
    {% endif %}

    {{ tag('button', {
      type: 'submit',
      class: component('button', 'primary', ''),
      text: 'Reset Password'|t,
    }) }}
  </div>
  <div x-cloak x-show="loading" class="absolute inset-0 flex items-center justify-center">
    <div class="text-center">
      {% include "svg/_loading.twig" %}
    </div>
  </div>
</form>