{% import 'partials/_macros' as helpers %}

<form method="post" accept-charset="UTF-8">
  {{ csrfInput() }}
  {{ actionInput('users/set-password') }}

  {# These two values are included in a password reset URL,
     and available in the template, automatically. They must
     be passed back when setting a new password to validate
     the request: #}
  {{ hiddenInput('code', code) }}
  {{ hiddenInput('id', id) }}

  {# <div class="text-left">
    {% include 'form/items/_input' with { 'settings': {
      'type': 'password',
      'name': 'newPassword',
      'id': 'new-password',
      'label': 'Password'|t,
      'value': false,
      'atts': {
        'class': component('input', 'large', 'invalid:bg-error'),
        'placeholder': 'Password'|t,
        'pattern': '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$',
        'required': true,
      }
    }} %}
  </div> #}

  <div class="mb-p16 text-left">
    <label for="new-password" class="{{ component('label', false, '') }}">{{ "New Password"|t }}*</label>
    <input class="{{ component('input', 'large', 'peer transition-colors focus:invalid:bg-opacity-10 focus:invalid:bg-error focus:valid:bg-opacity-10 valid:bg-opacity-10 valid:bg-success') }}"
           type="password"
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
           placeholder="New Password"
           id="new-password"
           name="newPassword"
           required>
      <span class="transition-all hidden peer-focus:peer-invalid:block mt-p10">
        <span class="text-error mr-p10">✖</span>
        <span class="font-normal text-sm">Your password does not meet the requirements.</span>
      </span>
      <span class="transition-all hidden peer-valid:block mt-p10">
        <span class="text-success mr-p10">✔</span>
        <span class="font-normal text-sm">Your password meets the requirements.</span>
      </span>
  </div>



  <div class="text-left c-content">
    <h3 class="font-normal text-sm">Password requirements:</h3>
      <ul class="text-sm">
        <li>Minimum 8-20 characters.</li>
        <li>Include at least 1 uppercase letter (A-Z).</li>
        <li>Include at least 1 lowercase letter (a-z).</li>
        <li>Include at least 1 number (0-9).</li>
        <li>Include at least 1 special character (@$!%*?&).</li>
      </ul>
  </div>


  {% if errors is defined %}
    {{ helpers.errorList(errors) }}
  {% endif %}

  {{ tag('button', {
    type: 'submit',
    class: component('button', 'primary', ''),
    text: 'Set Password'|t,
  }) }}
</form>