{% import 'partials/_macros' as helpers %}

{% set defaults = {
  'highlights' : block.highlights,
  'alignment'  : block.initialAlignment,
} %}

{% if settings is defined %}
  {% set settings = defaults|merge(settings) %}
{% else %}
  {% set settings = defaults %}
{% endif %}

{% for highlight in settings.highlights.all() %}
{% set orderA = settings.alignment ? 'mq768:order-2' : 'mq768:order-1' %}
{% set paddingA = settings.alignment ? 'mq768:pl-p64' : 'mq768:pr-p64' %}
{% set fxA = 'left' %}

{% set orderB = settings.alignment ? 'mq768:order-1' : 'mq768:order-2' %}
{% set paddingB = settings.alignment ? 'mq768:pr-p64' : 'mq768:pl-p64' %}
{% set fxB = 'right' %}

<div class="{{ component('moduleWidth', settings.config.handle, 'mb-p160 last:mb-none') }}" x-comp="gsapGlobal" x-data="gsapGlobal()" x-init="gsapFadeIn()" x-ref="scrollTrigger">

	<div class="mq768:flex flex-center">

		<div class="mq768:w-1/2 flex justify-center mq768:justify-end relative {{ loop.index is odd ? orderA ~ ' ' ~ paddingA : orderB ~ ' ' ~ paddingB }}">


      {% if highlight.fgMedia is not empty or highlight.bgMedia is not empty %}
        <div class="relative w-full flex items-center justify-center">

          {% if highlight.radiantCircles %}
            <div x-comp="gsapGlobal" x-data="gsapGlobal" x-init="radiantCircles()" class="absolute inset-0 flex items-center justify-center z-1">
              {% include 'svg/_radiantCircles' with { 'settings': {
                  'classes': 'opacity-50 mq1024:w-p1300 mq1024:h-p1300 origin-center absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2',
              }} %}
            </div>
          {% endif %}

          {% if highlight.bgMedia is not empty %}
          <div class="inline-block mx-auto relative z-1 h-full">
              {% if isVideo(highlight.bgMedia.one()) %}
                <div class="aspect-square inline-block w-full rounded-full overflow-hidden relative">

                  {% include 'components/_image.twig'|siteInclude with { settings: {
                    'image' : highlight.bgMedia.one(),
                    'format' : 'square',
                    'class': 'inline-block w-full rounded-full overflow-hidden',
                  }} %}

                  {% include 'components/_videoBackground.twig' with { 'settings': {
                    'videoWidth': '600',
                    'videoHeight': '600',
                    'videoPrimary': highlight.bgMedia.one ? highlight.bgMedia.one.videoFile.one.url : '',
                    'videoSecondary': highlight.bgMedia.one.videoFileSecondary.one ? highlight.bgMedia.one.videoFileSecondary.one.url : '',
                    'classes': 'absolute z-10 inset-y-0 left-1/2 -translate-x-1/2 object-cover h-full',
                    'atts': '',
                  }} %}
                </div>

              {% else %}
                {% include 'components/_image.twig'|siteInclude with { settings: {
                  'image' : highlight.bgMedia.one(),
                  'format' : 'square',
                  'class': 'inline-block w-full rounded-full overflow-hidden',
                }} %}
              {% endif %}
          </div>
          {% endif %}

          <div class="inset-0 flex items-center justify-center z-20 {{ highlight.bgMedia is not empty ? 'absolute mx-auto' : 'relative' }}">

            <div class="inline-block relative z-20">
              {% if isVideo(highlight.fgMedia.one()) %}
                {% include 'components/_video.twig'|siteInclude with { settings: {
                  'video' : highlight.fgMedia.one(),
                  'format' : 'fit',
                  'class': 'inline-block',
                }} %}
              {% else %}
                {% include 'components/_image.twig'|siteInclude with { settings: {
                  'image' : highlight.fgMedia.one(),
                  'format' : 'fit',
                  'class': 'inline-block',
                }} %}
              {% endif %}
            </div>
          </div>
        </div>

      {% endif %}

		</div>

		<div class="mq768:w-1/2 relative z-20 {{ loop.index is odd ? orderB ~ ' ' ~ paddingB : orderA ~ ' ' ~ paddingA }}">

			{% if highlight.heading %}
				{{ highlight.heading.set() }}
			{% endif %}


			{% if highlight.contentText %}
				<div class="mt-p32 c-content">
					{{ highlight.contentText }}
				</div>
			{% endif %}

			{% if highlight.button is not empty %}
        {% set button = highlight.button.one.button %}
        {% set btnStyle = highlight.button.one.buttonStyle %}

        <div class="mt-p32">
          {% include 'components/_button.twig'|siteInclude with { settings: {
            'text'  : button.text,
            'href'  : button.url,
            'type'  : 'link',
            'style' : btnStyle,
          }} %}
        </div>
			{% endif %}

		</div>

	</div>

</div>

{% endfor %}
