{% set products = craft.variants().status('enabled') %}
{% header "Content-Type: application/xml; charset=utf-8" %}
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
<channel>
   <title>Olina Health</title>
   <link>https://www.olina.health</link>
   <description>Product Feed for Google Merchant Center</description>

   {% for product in products %}
   <item>
      <g:id>{{ product.productId }}-{{ product.sku }}</g:id>
      <title>{{ product.title }}</title>
      <description><![CDATA[{{ product.description|raw }}]]></description>
      <link>https://www.olina.health/products/{{ product.slug }}</link>
      <g:price>{{ product.price }} USD</g:price>
      {# Add other attributes specific to your products #}
   </item>
   {% endfor %}
</channel>
</rss>