{% extends craft.app.request.isAjax ? "_ajax" : "_layout" %}

{% import 'partials/_macros' as helpers %}

{% block content %}
<div class="pt-headerSm mq768:pt-headerLg relative z-20">
  <section class="{{ component('modulePadding', false, 'c-container pt-p50') }}">
    <div class="{{ component('moduleWidth', false, '') }}">
      <div class="{{ component('roundedCard', 'checkoutPage', 'text-center') }}">

        {# {% include 'components/_userPhoto.twig' with { 'settings': {
          'classes' : 'w-p256 h-p256',
          'fontSize': 'text-h1',
          'imgSize': 300,
          'id': 'user-photo-large',
        }} %} #}

        <h1 class="mb-p10 mx-auto">{{ userGlobal.passwordSetHeading }}</h1>
        <div class="c-content my-p10 max-w-screen-mq912 mx-auto">
          {{ userGlobal.passwordSetText }}
        </div>
        <div class="mt-p40 max-w-p512 mx-auto">
          {% include 'form/forms/_setPassword.twig' %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}