{% import 'partials/_macros' as helpers %}

{% set defaults = {
  'heading' : '',
  'cards' : [],
  'classes': '',
  'cardClasses': ''
} %}

{% if settings is defined %}
  {% set settings = defaults|merge(settings) %}
{% else %}
  {% set settings = defaults %}
{% endif %}

<section class="my-p32 {{ settings.classes }}">
  {% if settings.heading is not empty %}
    <h2 class="text-h3 font-normal mb-p50">{{ settings.heading }}</h2>
  {% endif %}

  {% for card in settings.cards.all() %}
    <div class="{{ component('roundedCard', '', 'mq768:flex items-center mb-p10 last:mb-none ' ~ settings.cardClasses) }}" x-comp="gsapGlobal" x-data="gsapGlobal()" x-init="gsapFadeIn()" x-ref="scrollTrigger">
      <div class="shrink-0">
        {{ helpers.icon(card.benefitIcon, 'w-p100 h-p100 mq768:w-p70 mq768:h-p70 fill-terracotta') }}
      </div>
      <div class="mq768:ml-p32">
        {# <h3>{{ card.title }}</h3> #}
        <p class="text-lg">{{ card.benefitDescription }}</p>
      </div>
    </div>
  {% endfor %}
</section>