{% set addresses = addresses ?? [] %}
{% set selectable = selectable ?? false %}
{% set primaryBillingAddressId = primaryBillingAddressId ?? null %}
{% set primaryShippingAddressId = primaryShippingAddressId ?? null %}
{% set cardWidth = cardWidth ?? 'md:w-1/2' %}
{% set showDelete = showDelete ?? false %}

{% set selectable = true %}

{% if addresses and currentUser %}
  <div class="md:flex md:flex-wrap md:-mx-2 pb-4">

    {% for address in addresses %}
      {% set editUrl = '/commerce/customer/addresses/edit?addressId=' ~ address.id ~ '&redirect=' ~ craft.app.request.fullPath %}
      <div class="">

        {% tag selectable ? 'label' : 'div' with {
          class: 'py-p32 shadow-md bg-white rounded block js-address-select address-select',
          data: {
            'address-id': address.id,
          },
        } %}

        <span class="js-radio flex">
          {% if selectable %}
            {{ input('radio', settings.name ~ 'Id', address.id, {
                checked: (attribute(cart, settings.sourceIdName) == address.id) or (not attribute(cart, settings.sourceIdName) and address.id == attribute(_context, settings.primaryIdName)),
              }) }}
          {% endif %}
          <span class="ml-p32">
            {{ address|address }}
          </span>
        </span>

        <span class="block mb-1">
          <a href="{{ url(editUrl) }}" class="cursor-pointer rounded px-p8 py-p12 bg-accent text-white text-sm inline-block">
            {{- 'Edit'|t -}}
          </a>
          {% if showDelete and not selectable %}
            <form method="post" action="" class="js-address-delete inline-block">
              {{ csrfInput() }}
              {{ actionInput('users/delete-address') }}
              {{ redirectInput('commerce/customer/addresses') }}
              {{ hiddenInput('addressId', address.id) }}
              {{ tag('button', {
                  type: 'submit',
                  class: 'cursor-pointer rounded px-p8 py-p12 bg-accent text-white text-sm inline-block',
                  text: 'Delete'|t
                }) }}
            </form>
          {% endif %}
        </span>

        {% if primaryBillingAddressId == address.id or primaryShippingAddressId == address.id %}
          <span class="absolute top-4 right-4">
            {% if primaryBillingAddressId == address.id %}
              <span title="{{ 'Primary billing address'|t }}">💳</span>
            {% endif %}
            {% if primaryShippingAddressId == address.id %}
              <span title="{{ 'Primary shipping address'|t }}">📦</span>
            {% endif %}
          </span>
        {% endif %}
        {% endtag %}
      </div>
    {% endfor %}
  </div>
{% endif %}
